*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-container{
    background: #3F85EF;
    height: 90vh;  
    width: 90vw;  
    display: flex;   
    border-radius: 30px; 
    box-shadow: 10px 10px 50px 20px rgba(0, 0, 0, 0.7) ;  
}
.side-bar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    align-items: center;
}
.logo{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10%; 
    gap: 10%;
    width: 100%;
    /* background: red; */
}
a{
    text-decoration: none;
    display: flex;
    color: black;
    width: 100%;
    height: 10%;
    background: #D9D9D9;
    align-items: center;
    justify-content: center;
    border-radius: 50px 0 0 50px;
    font-size: 1.5rem;
    margin-left: 5%;
}
.main-content{
    background: #E9E9E9;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    /* background: red; */
}
.shop-name{
    display: flex;
    font-size: 1.8rem;
    background: #74BD5A;
    width: 76%;
    height: 60%;
    margin-top: 2.5%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.profile{
    display: flex;
    background: #CCCCCC;
    width: 10%;
    height: 50%;
    margin-top: 2.5%;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
.circle{
    height: 50px;
    width: 80px;
    margin: -5px;
    border-radius: 50%;
    /* background: red; */
    overflow: hidden;
}
img{
    width: 100%;
    height: auto; 
    display: block;
    margin-top: -5px;
}
.info{
    font-size: 0.8rem;
    padding: 12px;
}
.content{
    font-size: 2rem;
}
.dark .big-container{
    background: #4A4A4A;
}
.dark .main-container {
    background-color: #194A94;
    color: #fff;
}

.dark .menu a{
    background: #1F375B;
    color: #fff;
}

.dark .main-content{
    background: #4A4A4A;
}
.dark .shop-name{
    background: #9DDA6E;
    color: black;
}
.dark .info{
    color: black;
}